.DS_Store
classes_gen
source_gen
source_gen.caches
testclasses
*.iws
*.class
mps/MPS-artifacts.zip
artifacts/ActionScript.zip
ActionScript.iws

modules/jsTest/jsTest.msd

modules/jsTest/my.mps

ActionScript.mpr

ActionScript.mpr

ActionScript.mpr

*.history
